.env
*.pyc
src/.DS_Store
Airflow/DAGs/__pycache__/dag_3feb.cpython-310.pyc
Airflow/DAGs/__pycache__/dag_facultad_latinoamericana_univ_kennedy.cpython-310.pyc
Airflow/DAGs/__pycache__/dag_flores.cpython-310.pyc
Airflow/DAGs/__pycache__/dag_rio_cuarto.cpython-310.pyc
Airflow/DAGs/__pycache__/dag_univ_moron.cpython-310.pyc
Airflow/DAGs/__pycache__/dag_univ_UBA.cpython-310.pyc
Airflow/DAGs/__pycache__/dag_univ_UC.cpython-310.pyc
Airflow/DAGs/__pycache__/dag_utn.cpython-310.pyc
Airflow/DAGs/__pycache__/dag_villamaria.cpython-310.pyc
Airflow/DAGs/__pycache__/DAGs universidades B.cpython-310.pyc
src/.DS_Store
*.csv
src/py_functions/try.py
src/py_functions/__pycache__
airflow/dags/try.py
airflow/files/temp
src/py_functions/__pycache__
airflow/dags/.airflowignore
